header p {
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -91px;
  text-align: center;
  padding: 10px 15px;
  width: 182px;
  z-index: 40;
  border-radius: 6px;
  color: white;
  background: #808080;
  font-size: 12px;
  opacity: 0;
}

header p.visible {
  opacity: 1;
}

.navbar
  background: #CCC;
  opacity: 0.8;
  height: 50px;
  margin-top:2px;

.navbar-brand
  font-size:35px;

