
body
  font-family: helvetica, arial, sans-serif
  font-size: 17px
  color: #303030

.b-shadow
  text-shadow: 4px 4px #000

.sm-caps
  font-variant:small-caps;

.flatizen-font
  font-family: "Bauhaus 93", bauhaus_flatizen, forte
  font-weight: bold

h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #606060

hr
  visibility: hidden
  height: 20px

ul
  color: #FFFFFF
  list-style: none

li
  margin-bottom: 12px
  text-align: center

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

