body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #303030

.flatizen-font
  font-family: "Bauhaus 93", bauhaus_flatizen, forte
  font-weight: bold

.b-shadow
  color: white
  text-shadow: 4px 4px #000000


h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  color: #FFFFFF
  font-size: 24px
  font-weight: normal
  margin-bottom: 16px
  align-item: center
  text-shadow : 2px 2px #000000

h4
  font-size: 18px
  padding-bottom : 15px

h5
  font-size : 13px
  padding-bottom : 10px

h6
  font-size : 12px
  letter-spacing : 1px
  font-weight: bold

.next
  margin-left: 90px
  color: Red

hr
  visibility: hidden
  height: 15px

ul  
  list-style: none
  font-weight: bold

li
  margin-bottom: 3px

.color
  color : #FF7700
  font-size: 14px
  font-weight: bold

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none