doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen - Benefit

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/navigasi.css')
    // endbuild

  body
    header      
      div(class='navbar navbar-fixed-top', role='navigation')
        div.container-fluid
          div.navbar-header
            button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
              span.sr-only
                TOggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            <a class='navbar-brand flatizen-font' href='index.html'>Flatizen</a>

          div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
            ul.nav.navbar-nav
              li.dropdown
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Properti <b class="caret"></b></a>
                ul.dropdown-menu
                  li <a href='pengertian.html'>Mengenal Properti</a>
                  li <a href='userproperty.html'>Pemain Properti</a>
                  li <a href='peranprofesional.html'>Professional Properti</a>
                  li <a href='benefit.html'>Benefit Properti</a>
              li.dropdown
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flatizen <b class="caret"></b></a>
                ul.dropdown-menu
                  li <a href='flatizen.html'>Perkenalan Flatizen</a>
                  li <a href='flatizentechnical.html'>Flatizen Technical Backbone</a>
              li.active
                <a href='demo.html'>Flatizen Review</a>

    article

      section(data-bespoke-state='emphatic')
        h1.flatizen-font Flatizen 
        h4.flatizen-font Internationalize Your Properties Solution   
        h3.flatizen-font Benefit Property
      section
        h2 Property Business?
        h4 Let's Check Out the Benefits!
      
      section
        h2 Know It Closer
        h4 Benefits of Property Business
        ul<i>
          li 
            h5 . . .
          li 
            h5 Added Value
          li 
            h5 Income Appreciation
          li 
            h5 Capital Appreciation
          li
            h5 Long Term Investment
          li 
            h5 . . .</i>

      section
        h2 Know It Closer
        h4 Benefits of Property Business
        ul<i>
          li 
            h5 . . .
          li 
            h5 High Leverage Investment
          li
            h5 Hedge of Inflation
          li
            h5 Good Collateral
          li
            h5 Pride of Ownership
          li 
            h5 . . .</i>

      section
        h1 Let's Start!

      section
        h2 Added Value 
        h4 Nilai Tambah
        ul
          li 
            p . . . . .
          li
            p Nilai tambah investasi properti diperoleh akibat pengembangan bangunan di atas sebidang tanah kosong.
          li
            p Nilai tambah akan semakin  tinggi, jika bangunan berada di lokasi strategis dengan akses dan fasilitas yang baik, serta dibuat dengan arsitektur yang indah.
          li 
            p . . . . .

      section
        h2 Income Appreciation
        h4 Peningkatan Pendapatan Tahunan
        ul
          li 
            p . . . . .
          li
            p Dari sebidang tanah yang dikembangkan ditanah kosong menjadi rumah atau ruko, seorang investor dapat menerima sewa. 
          li
            p Keuntungan lain adalah kenaikan harga sewa, karena sifat kelangkaan tanah dan properti akan terus terjadi sepanjang perekonomian di sebuah negara terus tumbuh.
          li 
            p . . . . .

      section
        h2 Capital Appreciation
        h4 Peningkatan Nilai Tanah 
        ul
          li 
            p . . . . .
          li
            p Apresiasi nilai tanah merupakan keuntungan lain dari investasi properti. 
          li 
            p Jumlah manusia setiap saat terus bertambah, sementara jumlah tanah tidak dapat bertambah. 
          li
            p Ini merupakan teori klasik yang secara sederhana menjelaskan mengapa harga tanah terus merangkak naik dari waktu ke waktu.
          li 
            p . . . . .

      section
        h2 Long Term Investment
        h4 Investasi Jangka Panjang
        ul
          li 
            p . . . . .
          li
            p Dibandingkan dengan deposito, emas atau investasi lain, properti mempunyai karakter yang tahan lama. 
          li
            p Bisnis properti memiliki horison (jangka waktu) investasi rata-rata 3 - 5 tahun. 
          li 
            p Artinya, setelah 3 - 5 tahun perkembangan nilainya sudah cukup berarti untuk menghasilkan capital gain (selisih harga beli dan harga jual).
          li 
            p . . . . .

      section
        h2 High Leverage Investment 
        h4 Daya Pengungkit Investasi yang Tinggi
        ul
          li 
            p . . . . 
          li 
            p Sebagai contoh, Anda berinvestasi properti dengan uang Rp100 juta sebagai uang muka (DP), maka Anda bisa memiliki investasi properti sebesar Rp500 juta atau lima kali lipat, karena sisanya sebesar Rp400 juta dibayar dengan menggunakan pembiayaan bank.
          li 
            p Jika nilai investasi naik 10% menjadi Rp550 juta, maka keuntungan Anda Rp50 juta (Rp550 juta - Rp500 juta) atau 50% dari investasi awal yang "cuma" Rp100 juta.
          li 
            p Inilah yang disebut daya pengungkit investasi yang tinggi.
          li 
            p . . . . .

      section
        h2 Hedge of Inflation
        h4 Proteksi Terhadap Inflasi 
        ul
          li 
            p . . . . .
          li
            p Secara tradisional, orang membeli tanah dan bangunan untuk menjaga investasi tersebut agar tidak tergerus inflasi. 
          li 
            p Artinya, pemilik yakin membeli properti, nilai investasi tidak akan turun seperti nilai mata uang yang tergerus inflasi.
          li
            p Bahkan karena sifat kelangkaannya, nilai investasi itu terus meningkat seiring waktu.
          li 
            p . . . . .

      section
        h2 Good Collateral
        h4 Agunan yang Baik
        ul
          li 
            p . . . . .
          li
            p Tidak seperti investasi keuangan, properti merupakan agunan atau jaminan yang paling solid. 
          li 
            p Bahkan di beberapa negara, pihak perbankan tidak segan meminjamkan dana hingga 80% dari nilai agunan.
          li 
            p . . . . .

      section
        h2 Pride of Ownership
        h4 Kebanggaan Kepemilikan
        ul
          li 
            p . . . . .
          li
            p Dibandingkan dengan investasi jenis lain, rasa bangga terhadap kepemilikan properti pada umumnya lebih tinggi. 
          li 
            p Maka zaman dahulu, tuan tanah diasosiasikan sebagai orang kaya.
          li
            p Hal ini disebabkan karena properti juga dapat menghasilkan income dari sewa.
          li 
            p . . . . .

      section
        h1 We're Done!

      //section
        h5 Risiko yang relatif lebih kecil – tidak ada investasi yang tidak berisiko, namun investasi properti bisa dibilang lebih aman dibanding instrumen investasi finansial. Mengapa? Karena Anda dapat mengelola sendiri investasinya sehingga kendali sepenuhnya di tangan Anda. Tentu risiko dalam investasi properti tetap ada, seperti kemungkinan bangunan yang rusak, penyewa yang telat membayar sewa, dan ini tetap harus diantisipasi.
        h5 Tidak terlalu terpengaruh oleh faktor eksternal – dibandingkan dengan instrumen investasi finansial seperti saham atau obligasi yang nilainya sangat fluktuatif dipengaruhi oleh situasi ekonomi politik, tingkat inflasi dan suku bunga, investasi di bidang properti walaupun juga terpengaruh faktor luar, tetapi perubahannya tidak akan terlalu cepat. Misalnya, harga rumah tidak akan serta-merta berubah dalam semalam tetapi mebutuhkan bulanan hingga tahunan untuk berubah.
        h5 Laba/keuntungan yang besar – investasi di bidang properti memberikan peluang untuk mendapat keuntungan yang sangat besar. Banyak pengusaha-pengusaha ternama dunia yang sukses berinvestasi melalui properti. Khusus untuk pasar properti di Jakarta, peluangnya sangat menjanjikan. Dalam kelas edukasi finansial yang diselenggarakan oleh Citibank beberapa waktu lalu, Luke Rowe dari Jones Lang Lasalle Indonesia menyebutkan bahwa tingkat okupansi properti komersial seperti gedung-gedung perkantoran di Jakarta mencapai 90% yang menyebabkan harga sewa melunjak naik dengan cepat. Begitu pula dengan pasar properti perumahan dan apartemen dengan harga beli pada kisaran $200,000-250,000 dapat disewakan pada harga Rp20-25 juta per bulannya. Ini akan dapat memberikan keuntungan pendapatan pada kisaran 8-10%. Jika dibandingkan dengan kota-kota besar lainnya seperti Singapura atau Hong Kong, harga sewa di Jakarta masih jauh lebih murah. Oleh karena itu, Luke Rowe meyakinkan bahwa untuk minimal 3 tahun ke depan, harga properti di Jakarta akan terus naik dan tidak akan mengalami masalah oversupply.
        h5 Dapat menggunakan uang orang lain untuk berinvestasi – ini adalah salah satu fitur paling menarik dari investasi properti, yaitu sistemnya memungkinkan kita untuk menggunakan uang orang lain untuk membiayai investasi kita. Tidak seperti investasi lain yang akan sangat bergantung pada seberapa banyak uang tunai yang Anda miliki, investasi properti dapat dilakukan dengan membayar uang muka saja 20-30% dari harga propertinya. Kalau kita investasi di pasar modal, seperti saham, obligasi, reksa dana, maupun investasi emas atau karya seni, semuanya akan sangat tergantung pada seberapa banyak uang tunai yang kita miliki. Sedangkan investasi properti bisa dilakukan hanya dengan 20-30% harga propertinya. Sisanya dapat dibiayai melalui pinjaman ke bank. Implikasinya adalah dengan nominal uang yang sama (misal Rp20 juta) Anda dapat memperoleh aset properti senilai Rp100 juta, tetapi jika membeli investasi lain, jumlah saham/obligasi/reksadana/emas/karya seni tetap hanya senilai Rp20 juta. Dengan demikian, investasi properti memberikan peluang yang lebih besar dan cepat untuk melipatgandakan aset.
        h5 Pendapatan arus kas (cash flow) rutin – dari hasil uang sewa, Anda dapat memperoleh arus kas rutin sebagai pemasukan untuk menjamin kestabilan finansial Anda. Semakin banyak properti yang Anda miliki maka akan semakin besar pula arus kas yang akan Anda terima.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // endbuild