doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='emphatic')
        h1.flatizen-font Flatizen 
        h4.flatizen-font Internationalize Your Properties Solution   

      section
        h2 Property Business?
        h4 Let's Check Out the Benefits!
      
      section
        h2 Know It Closer
        h4 Benefits of Property Business
        ul<i>
          li 
            h5 . . .
          li 
            h5 Added Value
          li 
            h5 Income Appreciation
          li 
            h5 Capital Appreciation
          li
            h5 Long Term Investment
          li 
            h5 . . .</i>

      section
        h2 Know It Closer
        h4 Benefits of Property Business
        ul<i>
          li 
            h5 . . .
          li 
            h5 High Leverage Investment
          li
            h5 Hedge of Inflation
          li
            h5 Good Collateral
          li
            h5 Pride of Ownership
          li 
            h5 . . .</i>

      section
        h1 Let's Start!

      section
        h2 Added Value 
        h4 Nilai Tambah
        ul<i>
          li 
            h5 . . . . .
          li
            h5 Nilai tambah investasi properti diperoleh akibat pengembangan bangunan di atas sebidang tanah kosong.
          li
            h5 Nilai tambah akan semakin  tinggi, jika bangunan berada di lokasi strategis dengan akses dan fasilitas yang baik, serta dibuat dengan arsitektur yang indah.
          li 
            h5 . . . . .</i>

      section
        h2 Income Appreciation
        h4 Peningkatan Pendapatan Tahunan
        ul<i>
          li 
            h5 . . . . .
          li
            h5 Dari sebidang tanah yang dikembangkan ditanah kosong menjadi rumah atau ruko, seorang investor dapat menerima sewa. 
          li
            h5 Keuntungan lain adalah kenaikan harga sewa, karena sifat kelangkaan tanah dan properti akan terus terjadi sepanjang perekonomian di sebuah negara terus tumbuh.
          li 
            h5 . . . . .</i>

      section
        h2 Capital Appreciation
        h4 Peningkatan Nilai Tanah 
        ul<i>
          li 
            h5 . . . . .
          li
            h5 Apresiasi nilai tanah merupakan keuntungan lain dari investasi properti. 
          li 
            h5 Jumlah manusia setiap saat terus bertambah, sementara jumlah tanah tidak dapat bertambah. 
          li
            h5 Ini merupakan teori klasik yang secara sederhana menjelaskan mengapa harga tanah terus merangkak naik dari waktu ke waktu.
          li 
            h5 . . . . .</i>

      section
        h2 Long Term Investment
        h4 Investasi Jangka Panjang
        ul<i>
          li 
            h5 . . . . .
          li
            h5 Dibandingkan dengan deposito, emas atau investasi lain, properti mempunyai karakter yang tahan lama. 
          li
            h5 Bisnis properti memiliki horison (jangka waktu) investasi rata-rata 3 - 5 tahun. 
          li 
            h5 Artinya, setelah 3 - 5 tahun perkembangan nilainya sudah cukup berarti untuk menghasilkan capital gain (selisih harga beli dan harga jual).
          li 
            h5 . . . . .</i>

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild