doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen - About

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/navigasi.css')
    link(rel='stylesheet', type='text/css', href='styles/flatizen.css')
    // endbuild

  body
    header      
      div(class='navbar navbar-fixed-top', role='navigation')
        div.container-fluid
          div.navbar-header
            button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
              span.sr-only
                TOggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            <a class='navbar-brand flatizen-font' href='index.html'>Flatizen</a>

          div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
            ul.nav.navbar-nav
              li.dropdown
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Properti <b class="caret"></b></a>
                ul.dropdown-menu
                  li <a href='pengertian.html'>Mengenal Properti</a>
                  li <a href='userproperty.html'>Pemain Properti</a>
                  li <a href='peranprofesional.html'>Professional Properti</a>
                  li <a href='benefit.html'>Benefit Properti</a>
              li.dropdown
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flatizen <b class="caret"></b></a>
                ul.dropdown-menu
                  li <a href='flatizen.html'>Perkenalan Flatizen</a>
                  li <a href='flatizentechnical.html'>Flatizen Technical Backbone</a>
              li.active
                <a href='demo.html'>Flatizen Review</a>

    article

      section(data-bespoke-state='emphatic')
        h1.flatizen-font Flatizen
        h4.flatizen-font Internationalize Your Properties Solution   

      section
        ul
          li 
            h2 Introducing <font class='flatizen-font'>Flatizen</font>
          li 
            h4 Let's Take a Look!

      section
        ul
          li
            h2 <font class='flatizen-font'>Flatizen</font>
          li
            h4 Built with a simple Concept

      section
        ul
          li
            h4.flatizen-font Have a Properti
          li
            i.glyphicon.glyphicon-arrow-down
          li
            h4.flatizen-font Publish
          li
            i.glyphicon.glyphicon-arrow-down
          li
            h4.flatizen-font Show Your Properties International!
          li
            i.glyphicon.glyphicon-arrow-down
          li
            h4.flatizen-font Be a Social Flatizen


      section
        h2 <font class='flatizen-font'>Flatizen</font> Background
        ul
          li 
            h4 Kurangnya Fleksibilitas pencarian & pilihan dalam dunia Properti
          li 
            h4 Kesulitan dalam menemukan agen yang tepat & terpercaya
          li 
            h4 Kurangnya pengetahuan pasar secara Umum dalam Properti
          li 
            h4 Kurangnya sumber informasi yang bisa dipercaya

      section
        h2 <font class='flatizen-font'>Flatizen</font> Vision
        ul
          li 
            h4 International Property Search and Solution
          li 
            h4 Centered Property Professional Community
          li 
            h4 International Property Market Education
          li
            h4 Largest Property Partnership

      section
        ul
          li
            h2 International Property Search and Solution
          li
            p <font class='flatizen-font'>Flatizen</font> dikonsepkan untuk mengutamakan solusi dalam Properti yang Independen dan mampu menciptakan sebuah kebutuhan baru untuk mengatasi hambatan dan masalah dalam dunia Properti.
          li
            p Dikonsepkan untuk menggapai Properti - properti di seluruh dunia, yang disiapkan untuk pemakaian setiap Professional Properti dan setiap pembeli Properti di seluruh dunia.
          li 
            p Semua Pencarian Properti dalam 1 tempat.

      section
        ul
          li
            h2 Centered Property Professional Community
          li
            p Melibatkan setiap teknologi chat dan forum yang canggih, <font class='flatizen-font'>Flatizen</font> menciptakan sebuah forum dan komunitas yang mampu memaksimalkan kebutuhan para Professional untuk meningkatkan Kemampuan dan Pasar mereka
          li
            p Memberikan sebuah lokasi komunikasi yang baik bagi para Professional Properti untuk mengetahui kebutuhan dan tren pasar secara Internasional antar para Professional Properti

      section
        ul
          li
            h2 International Property Market Education
          li
            p <font class='flatizen-font'>Flatizen</font> mengkonsepkan sebuah analisis pasar yang lebih luas dengan melibatkan setiap pengguna dan para Professional dalam proses pertumbuhan pasar.
          li
            p Edukasi pasar Properti ditujukan untuk meningkatkan pemahaman setiap pemain dalam dunia Properti dan meningkatkan efektifitas dalam Pasar Properti yang sangat berkembang.

      section
        ul
          li
            h2 Largest Property Partnership
          li
            p <font class='flatizen-font'>Flatizen</font> menciptakan peluang yang lebih besar bagi kerja sama dalam dunia Properti.
          li
            p Membuat sebuah solusi yang lebih baik bagi setiap pemain dalam dunia Properti dengan melibatkan setiap aspek dari Properti seperti, Jasa (Desain, Arsitek, Pembangunan, ..), Alat(Bahan bangunan, Alat rumah tangga, ... ), dan lainnya

      section
        h2 <font class='flatizen-font'>Flatizen</font> Market Target
        ul
          li 
            p Property Player(Agen, Broker, Buyer)
          li
            p Property Developer
          li
            p Service(Architecture Designer, Interior Designer, Building Service, ..)

      section
        h2 Property Player
        ul
          li 
            p <font class='flatizen-font'>Agen</font>adalah orang atau perusahaan perantara yg meng-usahakan penjualan bagi perusahaan lain atas nama pengusaha
          li
            p <font class='flatizen-font'>Broker</font>adalah orang yg menjualkan barang atau benda dan mencarikan pembeli atas dasar komisi;

          li
            p <font class='flatizen-font'>Buyer</font>adalah orang yang memiliki dana untuk membeli barang atau benda yang dia inginkan 

      section
        h2 Property Developer
        ul
          li 
            p Bisnis Multifaceted yang mencakup segala koordinator kegiatan mulai dari renovasi dan pelepasan bangunan yang ada, untuk pembelian tanah mentah dan meningkat nilai tanah kepada orang lain dengan mengubah ide-ide di atas kertas ke dalam pengembangan bangunan yang Real.

      section
        h2 Service
        ul
          li 
            p <font class='flatizen-font'>Architecture Designer</font> adalah orang yang terlibat dalam perencanaan, merancang, dan mengawasi konstruksi bangunan, yang perannya untuk memandu keputusan yang memengaruhi aspek bangunan tersebut dalam sisi astetika, budaya, atau masalah sosial.
          li
            p <font class='flatizen-font'>Interior Designer</font>adalah orang ahli dalam perencanaan tata letak dan perancangan ruang dalam di dalam bangunan guna untuk mengembangkan fungsi, pengayaan estetis serta meningkatan psikologi ruang interior.

          li
            p <font class='flatizen-font'>Building Service</font> adalah orang yang bertanggung jawab atas aspek listrik, mekanik, kesehatan dan keselamatan bangunan, memastikan bangunan secara efektif dan efisien.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // endbuild