doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')    
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/pengertian.css')
    
    
    // endbuild

  body.cube

    article

      section(data-bespoke-state='emphatic')
        h1.flatizen-font.b-shadow Flatizen 
        h4.flatizen-font.b-shadow Internationalize Your Properties Solution

      section(style="background:url('styles/img/backg1.jpg'); background-size:100%;")    
        ul.b-shadow
          li
            h1 Properti
          li
            i Aset tanah dan bangunan / benda tak bergerak
          li
            i Perwujudan bisnis dalam bentuk aset

      section.sm-caps
        h2 Di Indonesia, istilah properti identik dengan 
        ul
          li real estate 
          li rumah
          li tanah 
          li ruko
          li gedung
          li gudang
      
      section
        h1 Properti
      
      section
        h1 Properti
      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild