doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen - Peran Profesional

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/themescreate.css')
    // endbuild

  body

    article

      section(data-bespoke-state='emphatic')
        h1.flatizen-font Flatizen 
        h4.flatizen-font Internationalize Your Properties Solution   

      section
        h3 Peran Profesional Property
        ul
          li 
            h5 Tujuan Penelitian
          li 
            h5 Keterlibatan Sektor Swasta
          li 
            h5 Agen Letting  di PRS
          li
            h6 Untuk melaksanakannya dilakukan tahapan-tahapan berikut : 
            li
              h6 1. Interview
            li
              h6 2. Web-based Survey
      
      section
        h3 Tujuan Penelitian
        ul 
          li 
            h6 Mengidentifikasi intervensi dan insentif untuk
                melibatkan Letting Agents yang berfokus pada
                Penyewa sektor swasta (PRS) untuk
                mempromosikan bangunan retrofits hemat energi
                untuk klien pemilik properti mereka.
      
      section
        h3 Keterlibatan Sektor Swasta
        ul
          li
            h6 Sampai saat ini, penyerapan perkuatan tidak optimal.
          li
            h6 Teori Ekologi Sosial.
          li
            h6  • Mempromosikan suite intervensi yang bekerja pada tingkat pengaruh atas individu.
          li
            h6  • Insentif bisnis adalah kunci untuk mengubah pasar & Meningkatkan kualitas Saham building.
      section
        h3 Keterlibatan Sektor Swasta.
        ul
          li
            h6 Berbagai usaha mempengaruhi keputusan pemilik properti untuk retrofit, yaitu :
          li
            h6 • Pembangun
          li
            h6 • Pemasok
          li
            h6 • Kontraktor
          li
            h6 • Teknik Perusahaan
          li
             h6 • Perusahaan Arsitektur
          li
            h6 • Pengacara
          li
            h6 • Perusahaan Utilitas
          li
            h6 • Pemodal / Bank
          li
            h6 • Perusahaan Surveyor
          li
            h6 • Asuransi Broker
          li
            h6 • Badan-badan Profesional
          li
            h6 • Agen Estate
          li
            h6 • Agen Letting 
      section
        h3 Agen Letting di PRS
        ul 
          li 
            h6 Akses Broker kepada pemilik tuan tanah / properti
          li
            h6 Pemilik Advise dari renovasi tepat untuk compliant dengan peraturan dan kompetitif di pasar.
          li
            h6 Sektor Swasta Rental (PRS)
          li
            h6 ~ 16,5% dari saham perumahan (3,8 juta rumah)
          li
            h6 Kualitas Termiskin jenis kepemilikan - pada tahun 2010 ~ 37% "non-layak"
          li
            h6 Pemilik sulit dijangkau - banyak pemilik properti / portofolio kecil, tidak bagian dari asosiasi profesional.
        
      section
        h3 Tahap 1 : Interviews
        ul
          li
            h6 Sebagai contoh : 
          li
            h6 Interviews Semi-Terstruktur - 59 orang
          li
            h6 Letting Agen (36), perwakilan Dewan (17),Profesional Asosiasi (2), Perkuatan Spesialis (3), DECC (1)
          li
            h6 Variabilitas - Membiarkan Agen
          li
            h6 Area - Cambridge, Gateshead, Wolverhampton, Maidstone, London
          li
            h6 Jasa - lettings & penjualan
          li
            h6 Badan kehadiran - lokal / regional, nasional / internasional
          li
            h6 Afiliasi Profesional - Assoc of Res Letting Agen (Arla)
          li
            h6 Avenue of kontak pertama - rujukan
          li
            h6 Analisis - Kualitatif perangkat lunak analisis data (NVivo)
          
      section
        h3 Tahap 1 : Interviews Cont.
        ul
          li
            h6 Pencarian dan pemilihan Profesional
          li
            h6 Peran Profesional mempengaruhi pemilik tanah 
          li
            h6 • Memberikan saran untuk upgrade, penyalur de facto untuk skema sebelumnya.
          li
            h6 • Keterampilan dalam penjualan.

      section
        h3 Tahap 2 : Web based Survey
        ul
          li
            h6 Reps dari Letting Agen 
          li
            h6 • Skenario dengan insentif
          li
            h6 • Difusi Inovasi
          li
            h6 • Mendistribusikan melalui perusahaan riset pasar
          li
            h6 • Timeline: akhir 2013 / awal 2014.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild