doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Flatizen

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/UserProperty.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    // endbuild

  body.cube

    article
      section(data-bespoke-state='emphatic')
        h1.flatizen-font Flatizen
        h4.flatizen-font Internationalize Your Properties Solution   

      section
        h3 User
        ul
          li 
            h6 Dalam bisnis properti terdapat berbagai macam orang yang terkait dengan bisnis properti. Orang-orang tersebut antara lain; pemerintah, pemakai, pemberi pinjaman, dan investor atau penanam modal. Pemerintah dalam bisnis properti mempunyai wewenang dan wilayah hukum sebagai pihak yang mengeluarkan peraturan dan melakukan monitoring terhadap bisnis properti yang berada pada wilayah hukumnya.

          li
            h6 Pemakai atau user adalah orang yang ‘membeli’ hak-hak atas kepemilikian baik kepemilikan tetap maupun kepemililikan sementara. Tentu, termasuk di dalam pihak ini adalah mereka yang mempunyai sertifikat maupun hanya sebagai seorang penyewa.
          li
            h6 Dalam memasarkan productnya, kita bisa menemukan banyak jenis pemain properti, yaitu :
          li.color
            h6 1. Real Estate Agent / Broker   
          li.color
            h6 2. Mortgage Lender
          li.color
            h6 3. Home Improvement Service
          li.color
            h6 4. Property Management & Other Real Estate

      section
        h3 Real State Agent 
        ul
          li
            h6 Seorang broker real estate atau agen real estat adalah orang yang bertindak sebagai perantara antara penjual dan pembeli real estate / properti nyata dan upaya untuk menemukan penjual yang ingin menjual dan pembeli yang ingin membeli. Real Estate Agent memiliki beberapa pembagian lagi yaitu :
          li.color
            h6 1. Buyer's agent, 
          li.color 
            h6 2. seller's agent, 
          li.color
            h6 3. relocation specialist, 
          li.color
            h6 4. foreclosure specialist, 
          li.color
            h6 5. short-sale specialist, dan
          li.color
            h6 6. real estate consultant.
      section
        h3 Mortgage Lender / Mortgage Loan
        ul
          li
            h6 Mortgage Loan, juga disebut sebagai mortgage, digunakan oleh pembeli real properti untuk mengumpulkan uang untuk membeli properti yang akan dibeli atau oleh pemilik properti yang sudah ada untuk mengumpulkan dana untuk tujuan apapun. 
            hr
            h6 Pinjaman ini "diamankan" di properti peminjam. Ini berarti bahwa mekanisme hukum diletakkan di tempat yang memungkinkan pemberi pinjaman untuk mengambil kepemilikan dan menjual properti dijamin ("penyitaan" atau "kepemilikan") untuk melunasi pinjaman dalam hal peminjam default pada pinjaman atau gagal mematuhi ketentuan-ketentuannya. 
            hr
            h6 Kata mortgage berasal dari "hukum Perancis" istilah yang digunakan oleh pengacara Inggris di abad pertengahan yang berarti "janji kematian", dan mengacu pada janji berakhir (mati) ketika salah kewajiban terpenuhi atau properti diambil melalui penyitaan.
            
            h6 Mortgage Lender memiliki beberapa pembagian yaitu :        
          li.color
            h6 1. Purchase loans, 
          li.color
            h6 2. refinancing, 
          li.color
            h6 3. home equity (HELOC), dan
          li.color
            h6 4. mortgage planning.
      section
        h3 Home Improvement Service
        ul
          li
            h6 Home Improvement Service sering merujuk pada proyek-proyek bangunan yang mengubah struktur sebuah rumah yang ada, juga dapat mencakup perbaikan rumput, kebun, dan struktur luar, seperti gazebo dan garasi. Hal ini juga meliputi pemeliharaan, perbaikan dan tugas pelayanan umum. Proyek-proyek perbaikan rumah umumnya memiliki satu atau lebih dari tujuan berikut, yaitu :
          li
            h7.next Nyaman, Pemeliharaan dan Perbaikan, Menambah ruang baru, 
            h7.next Menghemat Energi, dan Keselamatan dan Persiapan.
            hr
          li
            h6 Didalam Home Improvement Service mempunyai beberapa pembagian yaitu : 
          li.color
            h6 a. Home Improvement Service Architecture, 
          li.color
            h6 b. carpentry, 
          li.color
            h6 c. electrical, 
          li.color
            h6 d. engineering, 
          li.color
            h6 e. general contracting, 
          li.color
            h6 f. interior design, 
          li.color
            h6 g. landscaping, 
          li.color
            h6 h. painting, 
          li.color
            h6 i. plumbing, dan
          li.color
            h6 j. property management.

      section
        h3 Property Management & Other Real Estate
        ul
          li
            h6 Manajemen properti adalah operasi, kontrol, dan pengawasan real estate seperti yang digunakan dalam istilah yang paling luas. Manajemen menunjukkan kebutuhan untuk diperhatikan, dipantau dan akuntabilitas yang diberikan untuk kehidupan dan kondisi manfaatnya. Ini jauh mirip dengan peran manajemen dalam bisnis apapun.

          li
            h6 Manajemen properti juga pengelolaan kekayaan pribadi, peralatan, perkakas dan aset modal fisik yang akan dibeli dan digunakan untuk membangun, memperbaiki dan memelihara barang akhir kiriman. Manajemen properti melibatkan proses, sistem dan tenaga kerja yang dibutuhkan untuk mengelola siklus hidup dari semua kekayaan yang diperoleh seperti yang didefinisikan di atas termasuk akuisisi, kontrol, akuntabilitas, tanggung jawab, pemeliharaan, pemanfaatan dan disposisi.
          
          li.color
            h6 1. Property Management and Other Real Estate Services, 
          li.color
            h6 2. Appraisal, 
          li.color
            h6 3. commercial real estate, 
          li.color
            h6 4. escrow, 
          li.color
            h6 5. inspection, 
          li.color
            h6 6. insurance, 
          li.color
            h6 7. legal, 
          li.color
            h6 8. moving, 
          li.color
            h6 9. notary, 
          li.color
            h6 10. staging, 
          li.color
            h6 11. title
      section
        h2 Sekian dan Terima kasih

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild